body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #282c34;
}

.blob-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#blob {
    position: absolute;
    width: 20px;  /* Small size */
    height: 20px; /* Small size */
}
